@{
    var modalId = ViewBag.ModalId ?? "dynamicModal";
    var title = ViewBag.Title as string;
    var partialViewName = ViewBag.PartialViewName as string;
}

<div class="modal fade" id="@modalId" tabindex="-1" aria-labelledby="@($"{modalId}Label")" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="@($"{modalId}Label")">@title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="@($"{modalId}Body")">
                <!-- The content of the partial view will be loaded here -->
            </div>
        </div>
    </div>
</div>
