@model IEnumerable<TV5_VolunteerEventMgmtApp.Models.Director>

@{
	ViewData["Title"] = "Director List";
}

<h1>Directors</h1>

<hr />
<form>
	<input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
	<input type="hidden" name="sortField" value="@ViewData["sortField"]" />

	<div class="form-horizontal">

		<div class="mb-2">
			<a asp-action="Create" class="btn btn-purple py-1">Create New</a>

			<button class="btn @ViewData["BtnBg"] py-1" type="button" data-bs-toggle="collapse" id="filterToggle"
					data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
				@ViewData["BtnText"]
			</button>
		</div>

		<div class="filter-box collapse mb-2 @ViewData["ShowFilter"]" id="collapseFilter">

			<div class="row">
				<div class="flex-row d-flex gap-3">
					<div class="form-group col-md-4">
						<label class="d-block" for="searchName">Filter by Name</label>
						<input class="form-control p-1" id="searchName" type="text" name="searchName" value="@ViewData["searchName"]" />
					
					</div>
					<div>
						<label for="searchCity">Search City</label>
						<select id="searchCity" class="form-control" name="searchCity" asp-items="@ViewBag.AvailableLocations">
							<option value="All">All</option>
						</select>
					</div>
				</div>
				

				<div class="form-group col-md-4 align-self-end">
					<input class="btn btn-purple py-1 mt-2" type="submit" value="Apply" />
					<a class="btn btn-outline-dark mt-2 py-1" asp-action="Index">Clear</a>
				</div>

			</div>

		</div>
	</div>


	<table class="table table-hover">
		<thead>
			<tr>
				<th>
					<button type="submit" name="actionButton" value="First Name"
							class="btn btn-toolbar p-0 fw-bold d-inline">
						First Name <span class="text-purple">&#11137</span>
					</button>
				</th>
				<th>
					<button type="submit" name="actionButton" value="Last Name"
							class="btn btn-toolbar p-0 fw-bold d-inline">
						Last Name <span class="text-purple">&#11137</span>
					</button>
				</th>
				<th>
					@Html.DisplayNameFor(model => model.PhoneNumber)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Email)
				</th>
				<th>
					<button type="submit" name="actionButton" value="Location"
							class="btn btn-toolbar p-0 fw-bold d-inline">
						Locations <span class="text-purple">&#11137</span>
					</button>
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.FirstName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.LastName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PhoneNumber)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Email)
					</td>
					<td>
						@foreach (var location in item.DirectorLocations)
						{
							<span class="d-block">@location.Location.City</span>
						}
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
						<a asp-action="Details" asp-route-id="@item.ID">Details</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</form>