@model IEnumerable<TV5_VolunteerEventMgmtApp.ViewModels.AttendanceSheetSummaryVM>

    <h1>@ViewData["summaryTitle"]</h1>

 <form>
     <div>
        <label>Start Week</label>
        <input type="datetime-local" name="startWeek" value="@(ViewData["startWeek"])" asp-format="yyyy-MM-dd" />
        <label>End Week</label>
        <input type="datetime-local" name="endWeek" value="@(ViewData["endWeek"])" asp-format="yyyy-MM-dd" />
        <input type="submit" value="Get Attendance Sheets In Range"/>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Sheet.Location.City)
                </th>
                
                <th>Total Signups</th>
                <th>Total Attended</th>
                <th>Percent Attended</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sheet.Location.City)
                    </td>
                    
                    <td>
                        @item.TotalAttendees
                    </td>
                    <td>
                        @item.Sheet.Attendees.Count()
                    </td>
                    <td class="@item.Percentage.ClassName">
                        @item.Percentage.Value.ToString("#0.##%");
                        @item.Percentage.Value
                        @item.Sheet.StartTime;
                    </td>
                </tr>
            }
        </tbody>
    </table>

</form>