@model IEnumerable<TV5_VolunteerEventMgmtApp.Models.VolunteerSignup>
@{
	var eventId = (int?)ViewData["EventId"];
}

@foreach (var timeslot in Model)
{
	<div class="col">


		<div class="p-2 bg-light rounded h-100 d-flex flex-column">
			<div class="d-flex align-items-center justify-content-between mb-2" id="timeslot-edit-@timeslot.Id">

				@if (ViewBag.IsEditMode == true)
				{
					<form asp-action="Edit" method="post" asp-controller="VolunteerSignup">
						<div class="mb-1">
							<label asp-for="@timeslot.StartTime" class="fw-bold me-2">Start</label>
							<input asp-for="@timeslot.StartTime" type="time" class="form-control form-control-sm d-inline-block w-auto" />
						</div>
						<div>
							<label asp-for="@timeslot.EndTime" class="fw-bold me-2">End</label>
							<input asp-for="@timeslot.EndTime" type="time" class="form-control form-control-sm d-inline-block w-auto" />
						</div>
						<button type="submit"><i class="bi bi-gear"></i></button>
					</form>
					
				}
				else
				{
					<span>@timeslot.StartTime.ToString("h tt") - @timeslot.EndTime.ToString("h tt")</span>
					<button type="button" class="btn btn-sm p-0 border-0 bg-transparent text-secondary"
							onclick="cancelEditMode">
						<i class="bi bi-gear"></i>
					</button>
				}
				
				
				
			</div>


			
		</div>
	</div>
}

