@model IEnumerable<TV5_VolunteerEventMgmtApp.Models.VolunteerSignup>
@{
	var eventId = (int?)ViewData["EventId"];
}

@foreach (var timeslot in Model)
{
	<div class="col">


		<div class="p-2 bg-light rounded h-100 d-flex flex-column">
			<div class="d-flex align-items-center justify-content-between mb-2 text-nowrap">
				<a asp-action="Details"
				   asp-controller="TimeSlots"
				   asp-route-id="@timeslot.Id"
				   class="small text-decoration-none me-2">
					@timeslot.StartTime.ToString("h tt") - @timeslot.EndTime.ToString("h tt")
				</a>
			</div>


			<ul class="list-unstyled d-flex flex-wrap mb-0">
				@{
					foreach (var vol in timeslot.VolunteerAttendees)
					{
						var firstInitial = string.IsNullOrEmpty(vol.Volunteer?.FirstName)
						? ""
						: vol.Volunteer.FirstName.Substring(0, 1).ToUpper();
						var lastInitial = string.IsNullOrEmpty(vol.Volunteer?.LastName)
						? ""
						: vol.Volunteer.LastName.Substring(0, 1).ToUpper();

						<li class="me-1 mb-1">
							<div class="volunteer-circle"
								 tabindex="0"             
								 role="button"                    
								 aria-label="Volunteer circle"    

								 oncontextmenu="showVolunteerMenu(event, @timeslot.Id, @vol.VolunteerId)"
								 onkeydown="volunteerKeyDown(event, @timeslot.Id, @vol.VolunteerId)"

								 draggable="true"
								 ondragstart="dragVolunteer(event, '@vol.VolunteerId', @timeslot.Id)"
								 data-bs-toggle="tooltip"
								 data-bs-placement="top"
								 data-bs-title="@(vol.Volunteer?.FirstName) @(vol.Volunteer?.LastName)">
								@($"{firstInitial}{lastInitial}")
							</div>
						</li>
					}

					int capacity = timeslot.TimeSlots;
					int currentCount = timeslot.VolunteerAttendees.Count();
					int openSlots = capacity - currentCount;
					for (int i = 0; i < openSlots; i++)
					{
						<li class="me-1 mb-1">
							<div class="empty-slot-circle"
								 ondragover="allowDrop(event)"
								 ondrop="handleDrop(event, @timeslot.Id)"
								 data-bs-toggle="tooltip"
								 data-bs-title="Drag a volunteer here">
								<i class="bi bi-person-plus fs-5"></i>
							</div>
						</li>
					}
				}

			</ul>
		</div>
	</div>
}

