@model TV5_VolunteerEventMgmtApp.Models.AttendanceSheet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Attendance Sheet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Director.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attendees)
        </dt>
        <dd class="col-sm-10">
            @{
                int kidsCount = Model.Attendees.Count;
                if (kidsCount > 0)
                {
                    var kidsIdList = Model.Attendees.OrderBy(a => a.Singer.FirstName).ThenBy(a => a.Singer.LastName).ToList();
                    <a class="btn btn-outline-dark py-0" role="button" data-bs-toggle="collapse"
                       href="#collapseDocs@(Model.Id)" aria-expanded="false"
                       aria-controls="collapseDocs@(Model.Id)">
                        @kidsCount @(kidsCount == 1 ? "singer" : "singers")
                    </a>
                    <div class="collapse mt-1" id="collapseDocs@(Model.Id)">
                        @{
                            foreach (var s in kidsIdList)
                            {
                                <span class="">
                                    @s.Singer.FirstName @s.Singer.LastName
                                </span> <br />
                            }
                        }
                    </div>
                }
                else
                {
                    <span>None</span>
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
