@model IEnumerable<TV5_VolunteerEventMgmtApp.Models.DirectorCsvUpload>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV File Upload</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="container">
        <h1>Upload Director Data</h1>
        <form asp-controller="CsvImport" asp-action="Director" method="post" enctype="multipart/form-data">
            <select asp-items="@ViewBag.Locations" name="locationId">
                <option>Select a Location</option>
            </select>
            <div class="form-group">
                <input type="file" name="csvFile" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
        @if (Model != null && Model.Any())
        {
            <h2>Singers Uploaded</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Location Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Email</td>
                            <td>@user.PhoneNumber</td>
                            <td>@user.LocationName</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</body>
</html>